<h1>Lista de Transações</h1>

{{#each coins}}
    <strong><h1>{{crypto}}</h1></strong>
    <small>{{createdAt}}</small>
    <p>{{exchange}}</p>
    <p2>{{cryptoUND}}</p>
    <p3>{{USDT}}<p>
    <a href="/deletar/{{id}}"><button>Deletar</button></a>
    <hr>
{{/each}}
